# SPDX-License-Identifier: LGPL-2.1

# Libraries
*.a

# macOS files
.DS_Store

# Autotools generated directories and files
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
configure.ac~
depcomp
install-sh
.deps/
libtool
ltmain.sh
missing
stamp-h1
test-driver
